{% extends "entrepreneur/base.html" %}

{% block content %}
    
        <div class="">
        <div class = 'for_table_title_section'>
            <span class="table_title"><b>Cows</b></span>
            <button class="lg_out_btn right_btn" onClick="window.location.reload()"><a class='search_text'>Refresh</a></button>
            
        </div>
        <div class="for_table">
        <form action = "{% url 'search_cow' %}" method ="post" class = ''>
            {% csrf_token %}
            <input type="" name = 'search_cow'class="for_search_inputs" placeholder="Search By Anything">
            <button type="submit" class="lg_out_btn for_search_btn"><a class='search_text'>Search</a></button>
        </form>
    </div>
       
        <div class="for_table" >
            <table class="cow_tab">
                <tr class="cow_tab_tr">
                    <th class="cow_tab_th_td">
                        Sl
                    </th>
                    <th class="cow_tab_th_td">
                        Name of the Cow
                    </th>
                    <th class="cow_tab_th_td">
                        Breed
                    </th>
                    <th class="cow_tab_th_td">
                        Color
                    </th>
                    <th class="cow_tab_th_td">
                        Weight
                    </th>
                    <th class="cow_tab_th_td">
                        Date of Purchase
                    </th>
                    <th class="cow_tab_th_td">
                        Date of Birth
                    </th>
                    <th class = 'cow_tab_th_td'>
                        Actions
                    </th>
                </tr>
                
                
                {% for cow  in cows %}
                    <tr class="cow_tab_tr">
                       
                        <td class="cow_tab_th_td">{{ forloop.counter }}</td>
                        <td class="cow_tab_th_td">{{cow.name_of_cow}}</td>
                        <td class="cow_tab_th_td">{{cow.breed}}</td>
                        <td class="cow_tab_th_td">{{cow.color}}</td>
                        <td class="cow_tab_th_td">{{cow.weight}}</td>
                        <td class="cow_tab_th_td">{{cow.purchase_date}}</td>
                        <td class="cow_tab_th_td">{{cow.date_of_birth}}</td>
                        <td class="cow_tab_th_td">
                            <a class="view_edit" href="{% url 'edit_cow' cow.id %}">Edit</a>
                            <a class="view_edit" href="{% url 'view_cow' cow.id %}">View</a>
                            <a class="view_edit" href="{% url 'update_cow' cow.id %}">Update</a>
                            
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endblock content %}