{% extends "entrepreneur/base.html" %}

{%block content %} 
<div  class="">
    <br>
    <h1 style = 'text-align: center;'>
        Update {{cows.name_of_cow}}
    </h1>
    <br>
    <form action =''class="" method = "post" enctype = "multipart/form-data">
                <div class="for_forms">
                {% csrf_token %}
             
                {% for field in cow_update_form %}
                    
                    {% if field.label == 'Torka' %}
                        <p>Vaccination Info:</p>
                        <br>
                    {% endif %}
                    {% if field.label == 'Name of The Disease' %}
                        <p>Healthcare Info:</p>
                        <br>
                    {% endif %}
                    <label class="label_text" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                    <br>
                    <br>
                    
             
                  
                {% endfor %}
                </div>
                
                <div class="btn_container">
                    
                    <button class="cancel"><a id = 'cancel-btn' class="cancel_a" href="{% url 'cow' %}">Cancel</a></button>
                    <button class = 'lg_out_btn' id = 'submit_btn' type="submit"><a class="search_text">Submit</a></button>
                    
                </div>
       
    </form>

</div>

{%endblock %}